{% extends "campaigns/base.html" %}
{% load staticfiles %}
{%block title %} {{ cart.ticket_type.campaign.title }} - Cart {% endblock %}
{% block content %}
<h1>Cart</h1>
<div class="col col-xs-12 ticket">
                <div class="row">
                    <div class="col col-xs-6 ">
                        <h3><b>{{cart.ticket_type.type}}</b></h3>
                        <h5><b>{{ cart.ticket_type.campaign.title }}</b></h5>
                        <p>{{ cart.ticket_type.campaign.description|safe }}</p>
                        <img src="{{ cart.ticket_type.campaign.image }}" style="height:100px" />
                    </div>
                    <div class="col col-xs-2 ticket-info">
                        <p>UAH {{cart.ticket_type.cost}}.</p>
<p>Status: {%if cart.status == 'CREATED'%}
        Payment is not completed.
    {%endif%}
    {%if cart.status == 'PAYMENT_FAILED'%}
        Payment failed.
    {%endif%}
    {%if cart.status == 'TICKET_ISSUED'%}
        Payment confirmed!
    {%endif%}</p>
                    </div>
                    <div class="col col-xs-4">
{%if cart.status == 'CREATED' or cart.status == 'PAYMENT_FAILED'%}
<div class="liqpay">
{{liqpay_form|safe}}</div>
{%endif%}
{%if cart.status == 'TICKET_ISSUED'%}
        <a class="btn btn-primary" href="{{ cart.ticket.get_absolute_url }}" rel="nofollow">Show payment confirmation</a>
{%endif%}
                    </div>
                </div>
            </div>


{% endblock %}
